@font-face {
  font-family: Drugs;
  src: url(Drugs.otf);
}

.body,
.header__text { margin: 0; }

a:link, a:visited,
a:hover, a:active {
    color: #000;
    text-decoration: none;
}

a:hover { color: #225DC8; }

.body {
	font-family: Drugs, 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px;
	background-color: #fff;
}

.text-h36 { font-size: 2.57em; }
.text-h21 { font-size: 1.5em; }

.main-wrapper {
	padding-top: 50px;
	width: 1200px;
	margin: 0 auto;
}

.header {
	position: relative;
	width: 100%;
	height: 700px;
}

.header__photo {
	width: 100%;
	height: 700px;
}

.header__text {
	position: absolute;
	bottom: 180px;
	left: 0;
	width: 100%;
	font-size: 8.71em; /* 122px */
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.we-are {
	display: table;
	width: 100%;
	height: 170px;
}

.we-are__item {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	font-size: 1.29em; /* 18px */
	text-align: center;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.thesis {
	position: relative;
	height: 400px;
	background-image: url('images/city.jpg');
}

.l-thesis__main-text {
	position: absolute;
	left: 50%;
	top: 87px;
	margin-left: -330px;
	width: 660px;
	height: 120px;
}

.thesis__main-text {
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	border: 14px solid rgba(255, 204, 51, .9);
	height: 120px;
	width: 640px;
	margin: 0;
	line-height: 82px;
	font-size: 5.14em; /* 72px */
	text-transform: lowercase;
	text-align: center;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.thesis__main-text:before {
	display: block;
	content: '';
	position: absolute;
	left: 50%;
	bottom: 100%;
	margin-left: -3px;
	width: 7px;
	height: 101px;
	background-color: rgba(255, 204, 51, .9);
}

.thesis__main-text:after {
	display: block;
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: 14px;
	margin-top: -14px;
	border: 60px solid transparent;
	border-right-width: 20px;
	border-left: 20px solid rgba(255, 204, 51, .9);
}

.thesis__location {
	position: absolute;
	left: 0;
	top: 225px;
	width: 100%;
	text-align: center;
}

.thesis__location span {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

.thesis__location span.text-h36 {
	display: inline-block;
	margin-bottom: 10px;
}

.title {
	padding: 65px 0 50px 0;
}

.title p {
	margin: 0;
	text-align: center;
}

.title__main {
	text-transform: uppercase;
}

.wishes {
	height: 400px;
	background: url('images/wishes.jpg') no-repeat;
}

.wishes__item {
	position: relative;
	width: 20%;
	height: 400px;
	padding: 0 1px;
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.wishes__item p {
	position: absolute;
	bottom: 85px;
	left: 0;
	width: 100%;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.about-us {
	height: 220px;
	margin-bottom: 120px;
	background: url('images/about-us.jpg') no-repeat;
}

.about-us__item {
	position: relative;
	width: 20%;
	height: 220px;
	padding: 0 1px;
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.about-us__item p {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	font-size: 1.36em;
	text-transform: uppercase;
	text-align: center;
	color: #000;
}

.ideology {
	height: 400px;
	padding-top: 120px;
	background: url('images/ideology-bg.jpg') no-repeat;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.ideology p {
	margin: 0;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
}

.ideology .idealogy__special {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer {
	padding-top: 70px;
}

.contacts {
	font-size: 1.29em;
	text-align: center;
	margin-bottom: 80px;
}

.contacts span { margin: 0 35px; }
.contacts .contacts__facebook-link { margin-right: 0; }
.contacts .contacts__phone { margin-left: 30px; }

.share-this-please {
	margin: 0 auto;
	width: 350px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background-color: #405f97;
	font-size: 1.29em;
	text-align: center;
}
.share-this-please a, a:hover { color: #fff; }